body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap overrides */

.navbar-inverse {
    background-color: #ffd026;
    border-color: #ffd026;
}

.navbar-inverse .navbar-brand {
    color: #822626;
}

.navbar-inverse .navbar-nav > li > a {
    color: #822626;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #428bca;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #428bca;
}

.navbar-inverse .navbar-toggle {
    border-color: #eed3d7;
}

.btn {
    padding: 6px 20px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: medium;
}

.title {
    margin-bottom: 30px;
    color: #f97248;
    
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}